<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.SalesStatementMapper">
    <resultMap id="lll" type="com._520it.crm.domain.ReceiptManage">
        <id property="id" column="id"/>
        <result property="gatherTime" column="gatherTime"/>
        <result property="getherSum" column="getherSum"/>
    </resultMap>

    <select id="querySalesStatement" resultType="com._520it.crm.domain.SalesStatement">
        SELECT id ,gatherTime salesTime,sum(getherSum) salesAmount
        FROM receiptmanage
        <include refid="conditionSql"/>
        GROUP BY gatherTime
    </select>
    <sql id="conditionSql">
        <where>
            <if test="beginDate!=null">
                AND gatherTime &gt;=#{beginDate}
            </if>
            <if test="endDate!=null">
                and gatherTime &lt;=#{endDate}
            </if>
        </where>
    </sql>
</mapper>