<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.SchoolroomMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Schoolroom" >
    <id column="id" property="id"  />
	<result column="state" property="state"  />
	<result column="seatnumber" property="seatnumber"  />
	<result column="address" property="address"  />
	<result column="name" property="name"  />
	<association property="institute" javaType="Institute">
		<id property="id" column="i_id"/>
		<result property="name" column="i_name"/>
	</association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from schoolroom where id = #{id}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Schoolroom" useGeneratedKeys="true" keyProperty="id" >
    insert into schoolroom 
    (state,seatnumber,address,name,institute_id)
    values 
    (#{state},#{seatnumber},#{address},#{name},#{institute.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Schoolroom" >
    update schoolroom
    set
	    seatnumber=#{seatnumber},
	    address=#{address},
	    name=#{name},
	    institute_id=#{institute.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
   select room.*,i.id i_id,i.name i_name
	from schoolroom room , institute i where room.institute_id=i.id and room.id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select room.*,i.id i_id,i.name i_name
	from schoolroom room 
	left join institute i on room.institute_id=i.id
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(*) from schoolroom room 
	left join institute i on room.institute_id=i.id
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
  	select room.*,i.id i_id,i.name i_name
	from schoolroom room 
	left join institute i on room.institute_id=i.id
  	<include refid="conditionSql"/>
  	limit #{start},#{rows}
  </select>
  <!-- 教室审核 -->
  <update id="checkByschoolroomId">
  	update schoolroom set state=#{state} where id =#{roomId}
  </update>
  <!-- 查询所有被占用的教室 -->
  <select id="selectListForSchoolroomlistForm" resultMap="BaseResultMap" >
    select * from schoolroom where state= '0'
  </select>
  <select id="selectByPrimaryRealname">
  	select id from schoolroom where name = #{roomname}
  </select>
</mapper>