<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.SystemDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.SystemDictionary" >
    <id column="id" property="id"  />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="long" >
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.SystemDictionary" useGeneratedKeys="true" keyProperty="id" >
    insert into systemDictionary 
    ()
    values 
    ()
  </insert>
  <update id="updateByPrimaryKey"  >
    update systemDictionary
    set
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select * from systemDictionary where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from systemDictionary
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from systemDictionary
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
  	select * from systemDictionary
  	<include refid="conditionSql"/>
  	limit #{start},#{rows}
  </select>
</mapper>