<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.TaskMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Task" >
    <id column="id" property="id"  />
	<result column="state" property="state"  />
	<result column="time" property="time"  />
	<result column="processDescription" property="processDescription"  />
	<result column="taskDescription" property="taskDescription"  />
      <result property="deptId" column="dept_id"></result>
      <association property="processor" javaType="com._520it.crm.domain.Employee" column="processor_id"
                   select="com._520it.crm.mapper.EmployeeMapper.selectByPrimaryKey"/>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from task where id = #{id}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Task" useGeneratedKeys="true" keyProperty="id" >
    insert into task 
    (state,time,processor_id,processDescription,taskDescription,dept_id)
    values 
    (#{state},#{time},#{processor.id},#{processDescription},#{taskDescription},#{deptId})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Task" >
    update task
    set
        dept_id = #{deptId},
	    state=#{state},
	    time=#{time},
	    processor_id=#{processor.id},
	    processDescription=#{processDescription},
	    taskDescription=#{taskDescription}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select * from task where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from task
  </select>
  <sql id="conditionSql">
  	<where>
        <if test="empId!=null">
            and  processor_id = #{empId}
        </if>
        <if test="deptId!=null">
            and  dept_id = #{deptId}
        </if>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from task
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
  	select * from task
  	<include refid="conditionSql"/>
  	limit #{start},#{rows}
  </select>
</mapper>